NodeRed/get_data.json
[
    {
        "id": "6c2ee2c66b4cfc5d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "382690a637ad27e8",
        "type": "inject",
        "z": "6c2ee2c66b4cfc5d",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "10975e122612f34b"
            ]
        ]
    },
    {
        "id": "ebdd9d909fbc993d",
        "type": "debug",
        "z": "6c2ee2c66b4cfc5d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "10975e122612f34b",
        "type": "pythonshell in",
        "z": "6c2ee2c66b4cfc5d",
        "name": "Tester",
        "pyfile": "/home/eoghan/sense_hat_values.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": true,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "ebdd9d909fbc993d"
            ]
        ]
    }
]