NodeRed/sense-hat-flow.json
[
    {
        "id": "ce7991709fc76672",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "491640ca73c9f772",
        "type": "rpi-sensehat out",
        "z": "ce7991709fc76672",
        "name": "Sense-hat led Matrix",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "4d12936a0bb576ea",
        "type": "rpi-sensehat in",
        "z": "ce7991709fc76672",
        "name": "Sense-Hat Environment Reading",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "4f57688ae5cb4a70"
            ]
        ]
    },
    {
        "id": "4f57688ae5cb4a70",
        "type": "mqtt out",
        "z": "ce7991709fc76672",
        "name": "SenseHat Temperature",
        "topic": "a00287845/nodered/sensehat",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d230c7b23e504df",
        "x": 1130,
        "y": 320,
        "wires": []
    },
    {
        "id": "1220381363ae0d3b",
        "type": "rpi-sensehat in",
        "z": "ce7991709fc76672",
        "name": "SenseHat Motion Events",
        "motion": true,
        "env": false,
        "stick": false,
        "x": 490,
        "y": 780,
        "wires": [
            [
                "7f0428b3509c818f",
                "4467097e46d2c974"
            ]
        ]
    },
    {
        "id": "7f0428b3509c818f",
        "type": "mqtt out",
        "z": "ce7991709fc76672",
        "name": "a00287845/sensehat/events/motion",
        "topic": "a00287845/sensehat/events/motion",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d230c7b23e504df",
        "x": 1250,
        "y": 680,
        "wires": []
    },
    {
        "id": "559812a4018c1a8d",
        "type": "delay",
        "z": "ce7991709fc76672",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4467097e46d2c974",
        "type": "debug",
        "z": "ce7991709fc76672",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 940,
        "wires": []
    },
    {
        "id": "69b99758f98494c0",
        "type": "rpi-sensehat in",
        "z": "ce7991709fc76672",
        "name": "teee",
        "motion": true,
        "env": false,
        "stick": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "989fecd7ae153ba3"
            ]
        ]
    },
    {
        "id": "989fecd7ae153ba3",
        "type": "debug",
        "z": "ce7991709fc76672",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d230c7b23e504df",
        "type": "mqtt-broker",
        "name": "HiveMqttA00287845",
        "broker": "ssl://930094acb7da4acfbf5761b3ac2c7c90.s1.eu.hivemq.cloud:8883",
        "port": "8884",
        "tls": "",
        "clientid": "NodeRed-EoghanPi",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]